mike-agentes/02.0 - AGENTE MIKE AGENDAMENTOS BAILEYS - BARBEARIA SILVA - 16_04_2026.json
{
  "name": "02.0 - AGENTE MIKE AGENDAMENTOS BAILEYS - BARBEARIA SILVA",
  "nodes": [
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $json.idChat }}_timertemp",
        "value": "sim",
        "keyType": "string",
        "expire": true,
        "ttl": 300
      },
      "id": "f7ea5cb5-dfaf-492f-ae5d-4605fed9fdf0",
      "name": "Timer Parar Agente",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        384
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ed136c4-f18e-43ac-864d-8f44aae3f1f7",
              "name": "idMensagem",
              "value": "={{ $json.idMensagem }}",
              "type": "string"
            },
            {
              "id": "7e88c301-3359-4ce1-aa2e-804776cd348b",
              "name": "idChat",
              "value": "={{ $json.idChat }}",
              "type": "string"
            },
            {
              "id": "9ccebd28-583c-4983-a7fe-4a0830afdf6f",
              "name": "conteudoMensagem",
              "value": "={{ $json.conteudoMensagem }}",
              "type": "string"
            },
            {
              "id": "0d6590a6-7b17-4f1e-bf59-4d0856b30aee",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "fd1df1a7-f8d3-424d-a22d-bbdd841051d6",
              "name": "nomeUsuario",
              "value": "={{ $json.nomeUsuario }}",
              "type": "string"
            },
            {
              "id": "59cd7052-b285-4068-92b2-851075ebd53b",
              "name": "fromMe",
              "value": "={{ $json.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2cac1524-2597-459c-bb6d-e843e086d689",
              "name": "nomeInstancia",
              "value": "={{ $json.nomeInstancia }}",
              "type": "string"
            },
            {
              "id": "897604fc-4dea-4b6b-98af-0749daf462f7",
              "name": "ticketId",
              "value": "={{ $json.ticketId }}",
              "type": "string"
            },
            {
              "id": "c64dd09e-3111-446e-a02b-03591fdccbd6",
              "name": "chatbotBlocked",
              "value": "={{ $json.chatbotBlocked }}",
              "type": "boolean"
            },
            {
              "id": "f0c9f424-2693-4f2f-a964-7cbbe781d548",
              "name": "tipoConteudo",
              "value": "={{ $json.tipoConteudo }}",
              "type": "string"
            },
            {
              "id": "ece3e892-3483-44bf-a01b-465cdb1c3508",
              "name": "urlConteudo",
              "value": "={{ $json.urlConteudo }}",
              "type": "string"
            },
            {
              "id": "fa1ea814-4095-4986-8ff6-e12773e45a51",
              "name": "apikeyInstancia",
              "value": "={{ $json.apikeyInstancia }}",
              "type": "string"
            },
            {
              "id": "0de8f46b-51f0-4f3f-b73a-530cefaff7a5",
              "name": "prefixoRedis",
              "value": "={{ $json.prefixoRedis }}",
              "type": "string"
            },
            {
              "id": "a31b7598-1465-4d7f-9969-787c81b3a021",
              "name": "agenteAtivo",
              "value": "={{ $json.agenteAtivo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30320e93-10c6-4949-9386-7186298e50cc",
      "name": "Organiza Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        1264
      ]
    },
    {
      "parameters": {
        "url": "=https://myofgasezxvbyryenpeq.supabase.co/rest/v1/agent_configs?whatsapp_instance=eq.{{ $('Organiza Dados').item.json.nomeInstancia }}&select=id,tenant_id,agent_name,agent_persona,welcome_message,slot_duration_min,max_advance_days,whatsapp_instance,mkpro_instance_id&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "924e543f-e58d-486f-a412-2f36b3e6fff1",
      "name": "Buscar Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        1264
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfg-check-001",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33da08e2-ea5e-43f3-8c37-daf5c958ca3d",
      "name": "Config Encontrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mc-001",
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}",
              "type": "string"
            },
            {
              "id": "mc-002",
              "name": "agent_name",
              "value": "={{ $json.agent_name }}",
              "type": "string"
            },
            {
              "id": "mc-003",
              "name": "agent_persona",
              "value": "={{ $json.agent_persona }}",
              "type": "string"
            },
            {
              "id": "mc-004",
              "name": "welcome_message",
              "value": "={{ $json.welcome_message }}",
              "type": "string"
            },
            {
              "id": "mc-005",
              "name": "slot_duration_min",
              "value": "={{ $json.slot_duration_min || 30 }}",
              "type": "number"
            },
            {
              "id": "mc-006",
              "name": "max_advance_days",
              "value": "={{ $json.max_advance_days || 14 }}",
              "type": "number"
            },
            {
              "id": "mc-007",
              "name": "mkpro_instance_id",
              "value": "={{ $json.mkpro_instance_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ba88b4b3-09ea-4c22-9407-79c9a7f4f6b3",
      "name": "Mesclar Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        1312
      ]
    },
    {
      "parameters": {
        "content": "## CONFERÊNCIA E REGISTRO",
        "height": 728,
        "width": 916,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        864
      ],
      "id": "5caded5c-0e41-438d-ab73-3491e1d68f75",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bloqueado",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $json.idChat }}_timertemp",
        "options": {}
      },
      "id": "5669c73f-7481-46e6-b780-e884316bd884",
      "name": "Verifica Status",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -672,
        1104
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      },
      "notes": "Consulta se existe timeout para esse chat ou não."
    },
    {
      "parameters": {
        "content": "## Organiza os Dados + Busca Config Tenant",
        "height": 728,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        880
      ],
      "id": "c9d56e4f-b236-487e-b0aa-a47f1b0e97e1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_last_msg_id"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2016,
        1200
      ],
      "id": "a67849b2-292e-4446-97fa-a50e9223b573",
      "name": "Deletar memória",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Organiza Dados').item.json.chatbotBlocked }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "39cad820-8aaf-4e74-a5a6-1aaf77e11b5f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $('Organiza Dados').item.json.chatbotBlocked }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pare"
            }
          ]
        },
        "options": {
          "fallbackOutput": "0"
        }
      },
      "id": "a7636ad6-3518-4820-ad2a-0db7250f53b4",
      "name": "Intervenção Resposta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -528,
        928
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -400,
        1120
      ],
      "id": "8b6befc5-2133-4ae8-8548-702f2c9af3bc",
      "name": "Pare"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_historico",
        "messageData": "={{ JSON.stringify({ \"conteudoMensagem\": $('Organiza Dados').item.json.conteudoMensagem, \"timestamp\": $now, \"idMensagem\": $('Organiza Dados').item.json.idMensagem }) }}"
      },
      "id": "f8d65515-920b-4ab2-9a33-b00bdef9af8e",
      "name": "Adicionar ao Histórico",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        256,
        1408
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Deletar Memória Redis",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        1120
      ],
      "id": "4e175729-cb9a-434a-a334-8e9ee02c6044",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $json.tipoConteudo.trim() }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $json.tipoConteudo.trim() }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $json.tipoConteudo.trim() }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bf721d82-5a9e-4dc7-9089-642cd173d160",
                    "leftValue": "={{ $json.tipoConteudo.trim() }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3e50d912-345d-4c78-9d1a-d6d6a37039ee",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1072,
        1728
      ]
    },
    {
      "parameters": {
        "content": "## Formatos de Mensagem",
        "height": 896,
        "width": 1348,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        1616
      ],
      "id": "3417123b-9ebb-4d04-8d62-c6c4d22102ca",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro:', error);\n  throw error;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.Mensagem) return item;\n      const original = item.json.Mensagem;\n      let mensagem = original;\n      if (typeof mensagem === 'object') mensagem = JSON.stringify(mensagem);\n      if (typeof mensagem !== 'string') mensagem = String(mensagem ?? '');\n      let mensagemLimpa = limparMensagem(mensagem);\n      if (!mensagemLimpa || mensagemLimpa.length === 0) mensagemLimpa = String(original ?? '').trim();\n      const LIMITE_CHAR = 4000;\n      if (mensagemLimpa.length > LIMITE_CHAR) mensagemLimpa = mensagemLimpa.slice(mensagemLimpa.length - LIMITE_CHAR);\n      if (mensagemLimpa && mensagemLimpa.length > 0) item.json.Mensagem = mensagemLimpa;\n      return { json: item.json };\n    } catch (error) {\n      return item;\n    }\n  });\n}\n\nfunction extrairMensagemPrincipal(str) {\n  const frases = str.split(/(?<=[.!?])\\s+/);\n  return frases.map(f => f.trim()).filter(f => f.length > 0 && !f.includes('tool_calls') && !f.includes('invalid_tool_calls') && !f.match(/^[:\\s\\[\\]{}]+$/)).join(' ');\n}\n\nfunction limparCaracteresEspeciais(str) {\n  return str.replace(/\\\\\\\\[rnt]/g, ' ').replace(/\\\\\"/g, '').replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '').replace(/\\\"+/g, '').replace(/[{}\\[\\]]/g, '').trim();\n}\n\nfunction limparMensagem(texto) {\n  if (typeof texto !== 'string') return '';\n  let resultado = texto;\n  if (resultado.includes('{') && resultado.includes('}') && resultado.includes('\"tool_calls\"') && !/[a-zA-ZÀ-ÿ]{3,}/.test(resultado)) return '';\n  resultado = removerMetadataTecnico(resultado);\n  resultado = extrairMensagemPrincipal(resultado);\n  resultado = limparCaracteresEspeciais(resultado);\n  resultado = resultado.replace(/\\s+/g, ' ').replace(/^[\\\"\",\\s]+|[\\\"\",\\s]+$/g, '').trim();\n  return resultado;\n}\n\nfunction removerMetadataTecnico(str) {\n  return str.replace(/\\\"response_metadata\\\"\\s*:\\s*{[^}]*}/g, '').replace(/\\\"additional_kwargs\\\"\\s*:\\s*{[^}]*}/g, '').replace(/\\\"tool_calls\\\"\\s*:\\s*\\[[^\\]]*]/g, '').replace(/\\\"invalid_tool_calls\\\"\\s*:\\s*\\[[^\\]]*]/g, '').replace(/\\\"type\\\"\\s*:\\s*\\\"(ai|human)\\\"/g, '').replace(/\\\"data\\\"\\s*:\\s*{[^}]*}/g, '').replace(/,\\s*{[^}]*}/g, '').replace(/,\\s*\\[\\s*]/g, '').replace(/\\s*:\\s*null/g, '').replace(/\\s*:\\s*\\[\\]/g, '').replace(/\\s*:\\s*{}/g, '').replace(/\\s+/g, ' ').replace(/^\\s+|\\s+$/g, '');\n}"
      },
      "id": "1a9c2615-69e9-4259-b17f-043f61655627",
      "name": "Limpeza Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        2016
      ]
    },
    {
      "parameters": {
        "content": "## Agente IA — Mike Agendamentos",
        "height": 420,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        1616
      ],
      "id": "34518433-f0c9-4893-9e69-4101d1308cdf",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensagem }}",
        "options": {
          "systemMessage": "=Voce e {{ $('Mesclar Config').item.json.agent_name }}, assistente de agendamentos.\n\n{{ $('Mesclar Config').item.json.agent_persona }}\n\nData e hora atual: {{ $now.setLocale('pt-br').toFormat('cccc, dd/MM/yyyy HH:mm') }}\nTENANT_ID (use sempre nas ferramentas): {{ $('Mesclar Config').item.json.tenant_id }}\nTELEFONE DO CLIENTE: {{ $('Organiza Dados').item.json.idChat }}\n\nINSTRUCOES GERAIS\n- Seja simpatico, direto e eficiente\n- SEMPRE consulte a disponibilidade antes de confirmar qualquer horario\n- Para agendar: colete nome completo, servico desejado e data/horario de preferencia\n- Confirme todos os dados com o cliente antes de criar o agendamento\n- Nunca invente horarios - use sempre a ferramenta consultar_disponibilidade\n- Nunca revele que e IA ou robo\n- Envie apenas 1 mensagem por vez\n\nFLUXO PADRAO DE AGENDAMENTO\n1. Saudar o cliente pelo nome (se disponivel)\n2. Entender o que deseja (agendar / cancelar / remarcar / consultar)\n3. Para agendamento: perguntar servico e data de preferencia\n4. Consultar disponibilidade na data solicitada\n5. Apresentar os horarios disponiveis\n6. Confirmar com o cliente o horario escolhido\n7. Solicitar nome completo (se ainda nao informado)\n8. Criar o agendamento\n9. Confirmar com mensagem amigavel\n\nREGRA CRITICA PARA FERRAMENTAS\nAo chamar qualquer ferramenta, o input DEVE ser uma STRING JSON serializada.\nCORRETO: {\"tenant_id\":\"aaaaaaaa-0000-0000-0000-000000000001\",\"data\":\"2026-04-17\"}\nERRADO: passar um objeto diretamente\n\nFERRAMENTAS DISPONIVEIS\n- consultar_disponibilidade: veja horarios livres em uma data\n- criar_agendamento: crie um novo agendamento confirmado\n- consultar_meu_agendamento: consulte agendamentos futuros do cliente\n- remarcar_agendamento: remarque um agendamento existente\n- cancelar_agendamento: cancele um agendamento existente",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "id": "e43445d6-2e65-4c44-aac1-d76366d6fd42",
      "name": "Agente de IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        432,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        2320
      ],
      "id": "a124fa54-79c3-4bc1-bd06-e993f44dc566",
      "name": "Extrair Conteúdo"
    },
    {
      "parameters": {
        "content": "## Tools de Agendamento",
        "height": 458,
        "width": 628,
        "color": 2
      },
      "id": "adee7327-de7c-40a6-9931-5d679ac13aad",
      "name": "Sticky Note Tools",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        2048
      ]
    },
    {
      "parameters": {
        "name": "consultar_disponibilidade",
        "description": "Consulta horarios disponiveis em uma data especifica. Input: string JSON com tenant_id e data (formato YYYY-MM-DD). Exemplo: {\"tenant_id\":\"aaaaaaaa-0000-0000-0000-000000000001\",\"data\":\"2026-04-17\"} Ou apenas a data: 2026-04-17",
        "jsCode": "const _raw = (typeof query !== 'undefined' && query) ? query : ($input.first()?.json || '');\nlet _p = {};\nif (typeof _raw === 'object') { _p = _raw; }\nelse { try { _p = JSON.parse(String(_raw)); } catch(e) { _p = {}; } }\ntry {\n  const tenant_id = _p.tenant_id || 'aaaaaaaa-0000-0000-0000-000000000001';\n  const data = _p.data || _p.date || _p.dia || '';\n  if (!data) return 'Preciso da data no formato YYYY-MM-DD';\n  const SB = 'https://myofgasezxvbyryenpeq.supabase.co/rest/v1';\n  const H = { apikey: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc', Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc' };\n  const d = new Date(data + 'T12:00:00Z');\n  const wd = d.getUTCDay();\n  const avail = await this.helpers.httpRequest({ method: 'GET', url: SB + '/availability?tenant_id=eq.' + tenant_id + '&weekday=eq.' + wd + '&ativo=eq.true', headers: H });\n  if (!avail || avail.length === 0) return 'Sem disponibilidade neste dia da semana.';\n  const appts = await this.helpers.httpRequest({ method: 'GET', url: SB + '/appointments?tenant_id=eq.' + tenant_id + '&scheduled_at=gte.' + data + 'T00:00:00&scheduled_at=lte.' + data + 'T23:59:59&status=neq.cancelled', headers: H });\n  const ocp = (Array.isArray(appts) ? appts : []).map(function(a) { return a.scheduled_at.slice(11,16); });\n  const slots = [];\n  for (let i = 0; i < avail.length; i++) {\n    let c = parseInt(avail[i].start_time.slice(0,2))*60 + parseInt(avail[i].start_time.slice(3,5));\n    const e = parseInt(avail[i].end_time.slice(0,2))*60 + parseInt(avail[i].end_time.slice(3,5));\n    while (c + 30 <= e) {\n      const hh = String(Math.floor(c/60)).padStart(2,'0');\n      const mm = String(c%60).padStart(2,'0');\n      if (ocp.indexOf(hh+':'+mm) === -1) slots.push(hh+':'+mm);\n      c += 30;\n    }\n  }\n  if (slots.length === 0) return 'Sem horarios disponiveis em ' + data + '.';\n  return 'Horarios disponiveis em ' + data + ':\\n' + slots.join('\\n');\n} catch(err) { return 'Erro: ' + String(err.message || err); }"
      },
      "id": "e157d2de-9e22-4cf0-9f86-d25c83db22c5",
      "name": "Tool: consultar_disponibilidade",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        304,
        2224
      ]
    },
    {
      "parameters": {
        "name": "criar_agendamento",
        "description": "Cria um agendamento confirmado. Passe uma STRING JSON com: tenant_id, client_name, client_phone, data (YYYY-MM-DD), horario (HH:MM). Exemplo: {\"tenant_id\":\"aaaaaaaa-0000-0000-0000-000000000001\",\"client_name\":\"Joao Silva\",\"client_phone\":\"5581999990000\",\"data\":\"2026-04-17\",\"horario\":\"10:00\"}",
        "jsCode": "const _raw = (typeof query !== 'undefined' && query) ? query : ($input.first()?.json || '');\nlet _p = {};\nif (typeof _raw === 'object') { _p = _raw; }\nelse { try { _p = JSON.parse(String(_raw)); } catch(e) { _p = {}; } }\n\ntry {\n  const tenant_id = _p.tenant_id || 'aaaaaaaa-0000-0000-0000-000000000001';\n  const client_name = _p.client_name || '';\n  const client_phone = String(_p.client_phone || '').replace(/[^0-9]/g, '');\n  const data = _p.data || _p.date || '';\n  const horario = _p.horario || _p.time || '';\n  if (!client_name || !client_phone || !data || !horario)\n    return 'Preciso de: client_name, client_phone, data (YYYY-MM-DD), horario (HH:MM)';\n\n  const SB = 'https://myofgasezxvbyryenpeq.supabase.co/rest/v1';\n  const K = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc';\n  const HG = { apikey: K, Authorization: 'Bearer ' + K };\n  const HP = { apikey: K, Authorization: 'Bearer ' + K, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\n\n  // Helper POST usando this.helpers.httpRequest com body stringificado\n  async function doPost(url, headers, bodyObj) {\n    try {\n      const r = await this.helpers.httpRequest({ method: 'POST', url: url, headers: headers, body: JSON.stringify(bodyObj) });\n      return { ok: true, data: r };\n    } catch(e) {\n      return { ok: false, error: String(e.message || e) };\n    }\n  }\n  const post = doPost.bind(this);\n\n  // 1. Buscar ou criar cliente\n  let client_id;\n  const existing = await this.helpers.httpRequest({ method: 'GET', url: SB + '/clients?tenant_id=eq.' + tenant_id + '&phone=eq.' + client_phone, headers: HG });\n  if (Array.isArray(existing) && existing.length > 0) {\n    client_id = existing[0].id;\n  } else {\n    const cr = await post(SB + '/clients', HP, { tenant_id: tenant_id, name: client_name, phone: client_phone });\n    if (!cr.ok) return 'Erro ao criar cliente: ' + cr.error;\n    const found = await this.helpers.httpRequest({ method: 'GET', url: SB + '/clients?tenant_id=eq.' + tenant_id + '&phone=eq.' + client_phone, headers: HG });\n    if (!Array.isArray(found) || found.length === 0) return 'Erro: cliente nao localizado apos cadastro.';\n    client_id = found[0].id;\n  }\n\n  // 2. Buscar service_id\n  let svc_id = _p.service_id || null;\n  if (!svc_id) {\n    const svcs = await this.helpers.httpRequest({ method: 'GET', url: SB + '/services?tenant_id=eq.' + tenant_id + '&ativo=eq.true&limit=1', headers: HG });\n    if (!Array.isArray(svcs) || svcs.length === 0) return 'Erro: nenhum servico ativo encontrado.';\n    svc_id = svcs[0].id;\n  }\n\n  // 3. Criar agendamento\n  const scheduled_at = data + 'T' + horario + ':00';\n  const apptBody = { tenant_id: tenant_id, client_id: client_id, service_id: svc_id, scheduled_at: scheduled_at, duration_min: 30, status: 'confirmed' };\n  const ar = await post(SB + '/appointments', HP, apptBody);\n  if (!ar.ok) return 'Erro ao criar agendamento: ' + ar.error;\n\n  // 4. Confirmar via GET\n  const check = await this.helpers.httpRequest({ method: 'GET', url: SB + '/appointments?tenant_id=eq.' + tenant_id + '&client_id=eq.' + client_id + '&scheduled_at=eq.' + scheduled_at + '&status=eq.confirmed&order=created_at.desc&limit=1', headers: HG });\n  if (!Array.isArray(check) || check.length === 0) return 'Agendamento registrado com sucesso!';\n\n  return 'Agendamento confirmado!\\nNome: ' + client_name + '\\nData: ' + data + ' as ' + horario + '\\nCodigo: #' + check[0].id.slice(0,8);\n\n} catch(err) { return 'Erro: ' + String(err.message || err); }"
      },
      "id": "70f6637f-572f-4f07-a8a5-3ac5a5d43369",
      "name": "Tool: criar_agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        464,
        2224
      ]
    },
    {
      "parameters": {
        "name": "consultar_meu_agendamento",
        "description": "Consulta agendamentos futuros de um cliente pelo telefone. Passe uma STRING JSON com: tenant_id e client_phone. Exemplo: {\"tenant_id\":\"aaaaaaaa-0000-0000-0000-000000000001\",\"client_phone\":\"5581999990000\"}",
        "jsCode": "const _raw = (typeof query !== 'undefined' && query) ? query : ($input.first()?.json || '');\nlet _p = {};\nif (typeof _raw === 'object') { _p = _raw; }\nelse { try { _p = JSON.parse(String(_raw)); } catch(e) { _p = {}; } }\ntry {\n  const tenant_id = _p.tenant_id || 'aaaaaaaa-0000-0000-0000-000000000001';\n  const client_phone = String(_p.client_phone || '').replace(/[^0-9]/g, '');\n  if (!client_phone) return 'Preciso do telefone do cliente.';\n  const SB = 'https://myofgasezxvbyryenpeq.supabase.co/rest/v1';\n  const H = { apikey: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc', Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc' };\n  const cli = await this.helpers.httpRequest({ method: 'GET', url: SB + '/clients?tenant_id=eq.' + tenant_id + '&phone=eq.' + client_phone, headers: H });\n  if (!Array.isArray(cli) || cli.length === 0) return 'Nenhum agendamento encontrado para este numero.';\n  const now = new Date().toISOString();\n  const appts = await this.helpers.httpRequest({ method: 'GET', url: SB + '/appointments?tenant_id=eq.' + tenant_id + '&client_id=eq.' + cli[0].id + '&scheduled_at=gte.' + now + '&status=neq.cancelled&order=scheduled_at.asc&limit=5', headers: H });\n  if (!Array.isArray(appts) || appts.length === 0) return 'Voce nao tem agendamentos futuros.';\n  const lista = appts.map(function(a) {\n    const dt = new Date(a.scheduled_at);\n    const ds = dt.toLocaleDateString('pt-BR', { timeZone: 'America/Recife' });\n    const ts = dt.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Recife' });\n    return ds + ' as ' + ts + ' - Cod: ' + a.id.slice(0,8);\n  });\n  return 'Seus agendamentos:\\n' + lista.join('\\n');\n} catch(err) { return 'Erro: ' + String(err.message || err); }"
      },
      "id": "bd7cf4bb-cad9-4840-ad8c-3608630e4fee",
      "name": "Tool: consultar_meu_agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        624,
        2224
      ]
    },
    {
      "parameters": {
        "name": "remarcar_agendamento",
        "description": "Remarca um agendamento existente. Passe uma STRING JSON com: appointment_id (codigo de 8 chars), nova_data (YYYY-MM-DD), novo_horario (HH:MM). Exemplo: {\"appointment_id\":\"ab12cd34\",\"nova_data\":\"2026-04-18\",\"novo_horario\":\"14:00\"}",
        "jsCode": "const _raw = (typeof query !== 'undefined' && query) ? query : ($input.first()?.json || '');\nlet _p = {};\nif (typeof _raw === 'object') { _p = _raw; }\nelse { try { _p = JSON.parse(String(_raw)); } catch(e) { _p = {}; } }\ntry {\n  const appointment_id = _p.appointment_id || '';\n  const nova_data = _p.nova_data || _p.new_date || '';\n  const novo_horario = _p.novo_horario || _p.new_time || '';\n  if (!appointment_id || !nova_data || !novo_horario) return 'Preciso de: appointment_id, nova_data (YYYY-MM-DD), novo_horario (HH:MM)';\n  const SB = 'https://myofgasezxvbyryenpeq.supabase.co/rest/v1';\n  const H = { apikey: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc', Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc', 'Content-Type': 'application/json', Prefer: 'return=representation' };\n  const filter = appointment_id.length <= 8 ? 'id=like.' + appointment_id + '*' : 'id=eq.' + appointment_id;\n  const resp = await this.helpers.httpRequest({ method: 'PATCH', url: SB + '/appointments?' + filter + '&tenant_id=eq.' + (_p.tenant_id || 'aaaaaaaa-0000-0000-0000-000000000001'), headers: H, body: JSON.stringify({ scheduled_at: nova_data + 'T' + novo_horario + ':00', status: 'rescheduled' }) });\n  if (!Array.isArray(resp) || resp.length === 0) return 'Agendamento nao encontrado. Verifique o codigo.';\n  return 'Remarcado com sucesso!\\nNova data: ' + nova_data + ' as ' + novo_horario;\n} catch(err) { return 'Erro: ' + String(err.message || err); }"
      },
      "id": "6508333c-d404-4dd7-b9d5-10402e23c1b8",
      "name": "Tool: remarcar_agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        784,
        2224
      ]
    },
    {
      "parameters": {
        "name": "cancelar_agendamento",
        "description": "Cancela um agendamento existente. Passe uma STRING JSON com: appointment_id (codigo de 8 chars) e opcionalmente motivo. Exemplo: {\"appointment_id\":\"ab12cd34\",\"motivo\":\"Cliente cancelou\"}",
        "jsCode": "const _raw = (typeof query !== 'undefined' && query) ? query : ($input.first()?.json || '');\nlet _p = {};\nif (typeof _raw === 'object') { _p = _raw; }\nelse { try { _p = JSON.parse(String(_raw)); } catch(e) { _p = {}; } }\ntry {\n  const appointment_id = _p.appointment_id || '';\n  const motivo = _p.motivo || 'Cancelado pelo cliente';\n  if (!appointment_id) return 'Preciso do codigo do agendamento (appointment_id).';\n  const SB = 'https://myofgasezxvbyryenpeq.supabase.co/rest/v1';\n  const H = { apikey: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc', Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15b2ZnYXNlenh2YnlyeWVucGVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI3OTg5NiwiZXhwIjoyMDkxODU1ODk2fQ.fEJNZzZnlnJbasdEapSZa9b1DCApNjbtWDOKoHkE1uc', 'Content-Type': 'application/json', Prefer: 'return=representation' };\n  const filter = appointment_id.length <= 8 ? 'id=like.' + appointment_id + '*' : 'id=eq.' + appointment_id;\n  const resp = await this.helpers.httpRequest({ method: 'PATCH', url: SB + '/appointments?' + filter + '&tenant_id=eq.' + (_p.tenant_id || 'aaaaaaaa-0000-0000-0000-000000000001'), headers: H, body: JSON.stringify({ status: 'cancelled', cancelled_reason: motivo }) });\n  if (!Array.isArray(resp) || resp.length === 0) return 'Agendamento nao encontrado ou ja cancelado.';\n  return 'Cancelado com sucesso! Se precisar reagendar, e so chamar.';\n} catch(err) { return 'Erro: ' + String(err.message || err); }"
      },
      "id": "55d31f20-3f26-47aa-a2ec-3a08f8cac28c",
      "name": "Tool: cancelar_agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        944,
        2224
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "11b5ae5e-cc15-4c2a-b8a9-17e6ff8748b0",
      "name": "Cérebro do Agente (LLM)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        288,
        1888
      ],
      "credentials": {
        "openAiApi": {
          "id": "gG2rghd1L1rOVu8e",
          "name": "OpenAi - FD VEÍCULOS - WABA"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_memoria_agente",
        "sessionTTL": 172800,
        "contextWindowLength": 8
      },
      "id": "47119642-424a-4a4b-892d-f07ebd09a759",
      "name": "Memória do Agente",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        432,
        1872
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook - MK Pro Baileys').item.json.body.msg.body.split(':')[1].split(' ')[1] }}",
                    "rightValue": "=.....",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "d72dbba2-d90f-4a4d-b3ac-1562a2979689"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d5d74030-2ea0-454f-aaaf-a6d8f7a248dc",
                    "leftValue": "={{ $('Webhook - MK Pro Baileys').item.json.body.msg.body.split(':')[1].split(' ')[1] }}",
                    "rightValue": "!!!!!",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retomar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -336,
        496
      ],
      "id": "7021b4d0-d62b-4c87-a21e-5838a9341c83",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $json.idChat }}_timertemp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -144,
        576
      ],
      "id": "4b994956-f389-4c51-9309-c3653c0f431a",
      "name": "Time Retomar Agente",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2336,
        1808
      ],
      "id": "1e14f628-88a4-44ed-8a77-38b78582f8ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Separar e Enviar Mensagem",
        "height": 888,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        1616
      ],
      "id": "c929c390-fe9e-449d-99d5-ee46406edb8d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-teste-mk",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        992
      ],
      "id": "49231344-f50f-423b-8e53-f7c5d6285f12",
      "name": "Webhook - MK Pro Baileys",
      "webhookId": "7a24242c-4241-4fd8-9e5a-604e47996739"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst raw = input[0]?.json || {};\nconst body = raw.body || {};\nconst ticket = body.ticket || {};\nconst msg = body.msg || {};\nconst msgContent = msg.message || {};\n\n// Filtros: só processar mensagens reais (não fromMe, não outros eventos)\nif (body.method !== 'message') return [];\nif (msg.key?.fromMe === true) return [];\n\n// Tipo de conteúdo detectado pela chave do objeto message\nconst msgKeys = Object.keys(msgContent);\nlet tipoConteudo = 'text';\nif (msgKeys.includes('audioMessage'))    tipoConteudo = 'audio';\nelse if (msgKeys.includes('imageMessage'))    tipoConteudo = 'image';\nelse if (msgKeys.includes('documentMessage')) tipoConteudo = 'document';\n\n// Conteúdo de texto\nconst conteudoMensagem = msgContent.conversation\n  || msgContent.extendedTextMessage?.text\n  || '';\n\n// URL de mídia (se houver)\nconst urlConteudo = msgContent.audioMessage?.url\n  || msgContent.imageMessage?.url\n  || msgContent.documentMessage?.url\n  || '';\n\nreturn [{\n  json: {\n    idMensagem:         msg.key?.id || '',\n    idChat:             ticket.contact?.number || '',\n    conteudoMensagem,\n    timestamp:          String(msg.messageTimestamp || Math.floor(Date.now() / 1000)),\n    nomeUsuario:        msg.pushName || ticket.contact?.name || 'Cliente',\n    fromMe:             msg.key?.fromMe || false,\n    nomeInstancia:      ticket.whatsapp?.name || '',\n    ticketId:           String(ticket.id || ''),\n    chatbotBlocked:     ticket.contact?.chatbotBlocked || false,\n    tipoConteudo,\n    urlConteudo,\n    apikeyInstancia:    ticket.whatsapp?.tokenAPI || '',\n    prefixoRedis:       'mk-agend-1',\n    agenteAtivo:        'Lucas',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        1264
      ],
      "id": "a7a994b0-ef2d-4f6e-9e1f-b3ca7aba9076",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Organiza Dados').item.json.apikeyInstancia }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Organiza Dados').item.json.idMensagem }}\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        2320
      ],
      "id": "e5397335-ffcd-4985-a8b7-8a17a966f7f2",
      "name": "Confirmação de Leitura - Check",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook - MK Pro Baileys').item.json.body.msg.document.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "={{ 'Bearer ' + $('Webhook - MK Pro Baileys').item.json.body.ticket.whatsapp.bmToken }}"
            },
            {
              "name": "User-Agent",
              "value": "curl/7.64.1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        2320
      ],
      "id": "217fbd62-1d0f-4cca-b3eb-ac8ea53556ba",
      "name": "Download - PDF"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "Analise a imagem e descreva o que está sendo enviado. Se for um documento, extraia os dados principais. Se for uma foto de comprovante, identifique valor e data. Resposta resumida.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -304,
        2144
      ],
      "id": "8cd17bad-4c82-492c-9886-0d437bc89dcf",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "mJ4KrgoeEdO6ZEL5",
          "name": "Gemini - FD VEICULOS - WABA"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -304,
        1968
      ],
      "id": "9ecc8005-0d08-4a02-818c-4f1fa7510cc4",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "mJ4KrgoeEdO6ZEL5",
          "name": "Gemini - FD VEICULOS - WABA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "curl/7.64.1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        1968
      ],
      "id": "e8e00d6e-5660-4c76-9512-e7c45b4552c4",
      "name": "Download - Audio - Graph",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $node[\"Webhook - MK Pro Baileys\"].json.body?.msg?.audio?.id || $node[\"Webhook - MK Pro Baileys\"].json.body?.msg?.wabaMediaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "curl/7.64.1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        1968
      ],
      "id": "4b886b82-a9f1-41ab-b540-3075c037d504",
      "name": "Download - Audio - Graph1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = String($json.agent_output ?? '');\nconst limpo = out.replace(/^\\s*__MK_EVENT:(\\w+)__\\s*$/gmi, '').replace(/\\n{3,}/g, '\\n\\n').trim();\nreturn [{ json: { ...$json, output: limpo } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        2000
      ],
      "id": "233dc6f4-8f3b-4c64-ac03-ad6e89024c5c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56a98e2e-17d6-4101-a488-e913b770ca93",
              "name": "agent_output",
              "value": "={{ String($json.output ?? '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        2000
      ],
      "id": "4521c2ed-2695-47dd-b007-c7ccfda3975d",
      "name": "Fixar Output do Agente"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.conteudo_whatsapp ?? '');\nconst normalized = raw.replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').replace(/\\n{3,}/g, '\\n\\n').trim();\nfunction hash(str) { let h = 0; for (let i = 0; i < str.length; i++) { h = ((h << 5) - h) + str.charCodeAt(i); h |= 0; } return String(h); }\nconst idChat = String($('Organiza Dados').item.json.idChat ?? '').trim();\nconst partHash = hash(normalized);\nconst dedupKey = 'mk-wpp:' + idChat + '_sent:' + partHash;\nreturn [{ json: { ...$json, Mensagem: normalized, dedupKey } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        2000
      ],
      "id": "e041cd97-5b70-4121-8b7c-6856a521bb4c",
      "name": "Dedup por Parte (Redis Key)"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "sent",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $json.dedupKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3040,
        2000
      ],
      "id": "871b336b-9b30-49dc-b7b3-feecac8d71fc",
      "name": "Já enviei essa parte? (GET)",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "18721edd-38ec-457b-a902-4ba138601a62",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3232,
        2000
      ],
      "id": "a4c6b6b8-50d6-4d88-8216-2bda834594ac",
      "name": "Se NÃO enviei ainda"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Dedup por Parte (Redis Key)').item.json.dedupKey }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        2080
      ],
      "id": "1d11c657-b54c-4da3-a417-dd04d928edd1",
      "name": "TRUE (não enviei ainda)",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3456,
        1856
      ],
      "id": "4c91550e-c8ce-4cb5-8f17-f3aab354786a",
      "name": "No Operation, do nothing8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2608,
        1680
      ],
      "id": "e8b837a2-0754-4453-9d81-356da17560d9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        2064
      ],
      "id": "a1b451f2-4716-4210-9101-80ed2d8b872c",
      "name": "Wait",
      "webhookId": "7a9f3d44-0380-4432-befe-8ae41f3929ab"
    },
    {
      "parameters": {
        "content": "## Une mensagens do Usuário",
        "height": 728,
        "width": 1136,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        864
      ],
      "id": "b7ab014c-ae45-4e15-a3ef-794a3463c01a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        480
      ],
      "id": "769964ef-c594-4b0a-b99f-b1b71c9abeb8",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1585bc24-0b58-4179-8919-0e9aabc0e35e",
                    "leftValue": "={{ ($json.mensagens && $json.mensagens.length) ? JSON.parse($json.mensagens.last()).timestamp : $now.toISO() }}",
                    "rightValue": "={{ $now.minus({ seconds: 7 }).toISO() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Aguardar"
        }
      },
      "id": "3fc300ea-4e88-48d8-9ee3-0842a4d8dcc6",
      "name": "Decisão Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        1104
      ]
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "3f05057b-929f-49fb-a54f-9a77435d9c9b",
      "name": "Aguardar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        1376
      ],
      "webhookId": "d3f9de12-e554-4332-925f-834f0027ca85",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "MensagensUnidas",
              "value": "={{ $json.mensagens.slice().reverse().map(historico => JSON.parse(historico).conteudoMensagem.trim().replace(/\\s+/g, ' ')).join('\\n') }}",
              "type": "string"
            },
            {
              "id": "3879fbb3-f52d-407e-a5b3-e08120ea0edd",
              "name": "tipoConteudo",
              "value": "={{ $('Organiza Dados').item.json.tipoConteudo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a2a9314b-1690-49a7-8f91-86b3a1220d48",
      "name": "Unifica Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        1424
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat.toString() }}_historico",
        "options": {}
      },
      "id": "6e86fc0b-1560-424b-9016-162bd5f8622d",
      "name": "Busca Histórico",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        688,
        1104
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat.toString() }}_historico"
      },
      "id": "4b354ab3-20f0-4e86-a7cf-0ab3790cc6c4",
      "name": "Extrair e Limpar",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1408,
        1424
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "last_id",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_last_msg_id",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        1088
      ],
      "id": "b95696bc-c9c4-4098-85af-28d3abfe140a",
      "name": "Get Last Msg Id",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "guard-lastmsgid-notempty",
              "leftValue": "={{ $json.last_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7ff330f2-5450-42b0-8d3c-a0612b263904",
              "leftValue": "={{ $json.last_id }}",
              "rightValue": "={{ $('Organiza Dados').item.json.idMensagem }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        1088
      ],
      "id": "80866046-8d0c-4820-b32a-c90a174b5ad3",
      "name": "Ainda é a última mensagem?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1408,
        944
      ],
      "id": "dc2da54a-f1e8-41e9-b4b3-769a05d4c208",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_last_msg_id",
        "value": "={{ $('Organiza Dados').item.json.idMensagem }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        512,
        1104
      ],
      "id": "a371a49e-d32f-4b45-8c51-b8990bd381c6",
      "name": "Set Last Msg Id",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat.toString() }}_historico",
        "options": {}
      },
      "id": "339ed7e1-914d-4dd2-b05f-d4f79d7e84b9",
      "name": "Busca Histórico1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1408,
        1216
      ],
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1040,
        2288
      ],
      "id": "92b2e505-0ec6-4029-b8dc-a95e3605c907",
      "name": "No Operation, do nothing9"
    },
    {
      "parameters": {
        "content": "## Dedup",
        "height": 888,
        "width": 856
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        1616
      ],
      "id": "56b35d1b-4e43-4acc-a33b-09db3c497fa7",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd615930-0423-4541-b1c0-60131fddb735",
              "name": "=output",
              "value": "={{ \n(() => {\n  let t = String($json.output);\n  t = t.replace(/<br\\s*\\/?>/gi, \"\\n\").replace(/\\\\\\\\n/g, \"\\n\").replace(/\\\\n/g, \"\\n\").replace(/\\\\\\\\t/g, \"\\t\").replace(/\\\\t/g, \"\\t\");\n  t = t.replace(/\\r\\n/g, \"\\n\").replace(/\\r/g, \"\\n\");\n  t = t.replace(/[\\u200B-\\u200D\\uFEFF]/g, \"\");\n  t = t.replace(/(https?:\\/\\/[^\\s]+)/g, \"\\n$1\\n\");\n  t = t.replace(/[ \\t]+\\n/g, \"\\n\").replace(/\\n{3,}/g, \"\\n\\n\").trim();\n  return t + \"\\n\";\n})()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        2000
      ],
      "id": "8a90347f-711b-4c1d-b14d-09294d90eaca",
      "name": "Limpador de /n1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": "={{ Math.max(3, Math.min(10, $json.body_clean.length / 20)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        2288
      ],
      "id": "8c85cd94-2180-4e1a-8bca-1d8c3e6d5620",
      "name": "Wait2",
      "webhookId": "e838b6be-b9a6-402e-9c51-eef8fd9ba2e5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd615930-0423-4541-b1c0-60131fddb736",
              "name": "=body_clean",
              "value": "={{ $('Dedup por Parte (Redis Key)').item.json.conteudo_whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        2288
      ],
      "id": "4f7ed751-b499-4979-827f-c2f1e6f746bc",
      "name": "Limpador de /n2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const respostaBruta = $input.item.json.output || $input.item.json.text || '';\nconst blocos = respostaBruta.split(/\\n\\n+/).filter(item => item.trim().length > 0);\nreturn blocos.map(mensagem => ({ json: { conteudo_whatsapp: mensagem.trim() } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        1696
      ],
      "id": "98205401-0336-4729-848f-80fac1482a6e",
      "name": "Code - Split"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seen = new Set();\nconst result = [];\nfor (const item of items) {\n  const texto = (item.json.conteudo_whatsapp || '').trim();\n  if (!texto) continue;\n  if (seen.has(texto)) continue;\n  seen.add(texto);\n  result.push(item);\n}\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        1696
      ],
      "id": "196d910e-2f07-4f0b-bc64-09dae114acc9",
      "name": "Remover Duplicados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88a2cf4d-c061-49f3-b1aa-ff3328544106",
              "name": "Mensagem",
              "value": "={{ \n  $json[\"content\"]?.[\"parts\"]?.[0]?.[\"text\"] \n  ?? $json[\"text\"] \n  ?? $json[\"conteudoMensagem\"] \n  ?? $json[\"Mensagem\"] \n  ?? $json[\"MensagensUnidas\"] \n  ?? \"\"\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        1712
      ],
      "id": "7d0f1925-6c99-4f68-b36b-6b0ab7998a6a",
      "name": "Padroniza Nome"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        2320
      ],
      "id": "1ae05567-bc64-45ec-a041-876d7f803d3c",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "primeiro_contato",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_primeiro_contato",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -176,
        1104
      ],
      "id": "d48d0b8e-d8d0-41cb-bc6d-08096c763b31",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "628f4138-0ccb-4465-b5cb-8961650011f6",
              "leftValue": "={{ $json.primeiro_contato }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        1104
      ],
      "id": "a47d47b7-768d-44b6-a08e-08e32053aff6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organiza Dados').item.json.prefixoRedis }}:{{ $('Organiza Dados').item.json.idChat }}_primeiro_contato",
        "value": "=sim",
        "expire": true,
        "ttl": 15552000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        256,
        928
      ],
      "id": "30b10325-8d87-4249-be90-a3ad59f4cbab",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "9mE5XdUM2aT9HuS3",
          "name": "MK Pro - Redis"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mkproapi.mkautosolution.cloud/v2/api/external/def17a4b-1470-4362-ba38-f63f0637c174",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Organiza Dados').item.json.idChat }}"
            },
            {
              "name": "body",
              "value": "=..."
            },
            {
              "name": "externalKey",
              "value": "={{ $('Organiza Dados').item.json.idMensagem }}"
            },
            {
              "name": "isClosed",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        384
      ],
      "id": "c5932e53-27e4-437e-99f7-436e8d7f08da",
      "name": "Send Message - Parar Agente!",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mkproapi.mkautosolution.cloud/v2/api/external/def17a4b-1470-4362-ba38-f63f0637c174",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Organiza Dados').item.json.idChat }}"
            },
            {
              "name": "body",
              "value": "=!!!"
            },
            {
              "name": "externalKey",
              "value": "={{ $('Organiza Dados').item.json.idMensagem }}"
            },
            {
              "name": "isClosed",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        576
      ],
      "id": "d7424d58-b898-459f-8bf4-a8c60852ca0d",
      "name": "Send Message - Parar Agente!1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Organiza Dados').item.json.fromMe }}",
                    "rightValue": "meunumero",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a8c6cd1b-3d25-4d7c-9d7d-7aca1aa019c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sim"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Organiza Dados').item.json.fromMe }}",
                    "rightValue": "=outro",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "0"
        }
      },
      "id": "be9c8ee5-f8a4-42f6-9f04-b0a6b815020f",
      "name": "Intervenção Humana",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -960,
        1056
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $node[\"Webhook - MK Pro Baileys\"].json.body?.msg?.image?.id || $node[\"Webhook - MK Pro Baileys\"].json.body?.msg?.wabaMediaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "curl/7.64.1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        2144
      ],
      "id": "3874b304-2c24-4659-9a6b-82c5bfa22f15",
      "name": "Download - Img - Graph1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "curl/7.64.1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        2144
      ],
      "id": "0c08843e-0285-4f7d-8dfa-42582b188948",
      "name": "Download - Img - Graph",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bxHWYCJaJxKR6Utk",
          "name": "SUPABASE - MKT"
        }
      }
    },
    {
      "parameters": {
        "content": "## INTERVENÇÃO HUMANA",
        "height": 570,
        "width": 932,
        "color": 2
      },
      "id": "d1ac39d2-55bd-4d37-b139-14f90ce4e4b0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mkproapi.mkautosolution.cloud/v2/api/external/{{ $('Mesclar Config').item.json.mkpro_instance_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Barear eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJZCI6NywicHJvZmlsZSI6ImFkbWluIiwic2Vzc2lvbklkIjo2NywiaWF0IjoxNzc2MzA4NzIxLCJleHAiOjE4MzkzODA3MjF9.lG628rkPjuveIUSbDKln7a9Foe3rJv9NN8yVTb0099E"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Organiza Dados').item.json.idChat }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body_clean }}"
            },
            {
              "name": "externalKey",
              "value": "={{ $('Organiza Dados').item.json.idMensagem }}"
            },
            {
              "name": "isClosed",
              "value": "false"
            },
            {
              "name": "apikey",
              "value": "Barear eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJZCI6NywicHJvZmlsZSI6ImFkbWluIiwic2Vzc2lvbklkIjo2NywiaWF0IjoxNzc2MzA4NzIxLCJleHAiOjE4MzkzODA3MjF9.lG628rkPjuveIUSbDKln7a9Foe3rJv9NN8yVTb0099E"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        2288
      ],
      "id": "60c2484a-9b16-44c8-9aee-abc008916e47",
      "name": "Send Message - API - MK Pro"
    }
  ],
  "pinData": {
    "Webhook - MK Pro Baileys": [
      {
        "json": {
          "headers": {
            "host": "webhook.agentesmkpro.cloud",
            "content-length": "3551",
            "accept": "application/json",
            "content-type": "application/json",
            "x-forwarded-for": "72.62.10.198",
            "x-forwarded-host": "webhook.agentesmkpro.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "679bf522008f",
            "x-real-ip": "72.62.10.198",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "method": "message",
            "msg": {
              "key": {
                "remoteJid": "125237152743632@lid",
                "fromMe": false,
                "id": "3A34608D9FEEA92EE3FF",
                "sender_pn": "558199258551@s.whatsapp.net"
              },
              "messageTimestamp": 1776315979,
              "pushName": "Rafael Macario",
              "broadcast": false,
              "message": {
                "conversation": "Seria pra hoje às 10h",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "65+LetQyYaZ9lQ==",
                    "senderTimestamp": "1776088479",
                    "recipientKeyHash": "CXNLyDPHNBDEgQ==",
                    "recipientTimestamp": "1776308556"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "XBKicS+UYioSmHS1lc+izz/IFCc7W1iXgPWTUXIxXrA="
                }
              }
            },
            "ticket": {
              "protocol": "2026160400104824083",
              "id": 24083,
              "status": "pending",
              "unreadMessages": 4,
              "lastMessage": "Claro! Que dia e horário você gostaria de agendar para o corte de cabelo?",
              "channel": "baileys",
              "answered": true,
              "isGroup": false,
              "isActiveDemand": false,
              "isFarewellMessage": false,
              "lastInteractionBot": null,
              "botRetries": 0,
              "closedAt": null,
              "lastMessageAt": "1776315967382",
              "lastMessageReceived": null,
              "rescueWindowSended": false,
              "startedAttendanceAt": null,
              "lastPauseAt": null,
              "totalPauseTime": "0",
              "isPaused": false,
              "pauseReason": null,
              "userId": null,
              "contactId": 7899,
              "whatsappId": 67,
              "autoReplyId": null,
              "stepAutoReplyId": null,
              "chatFlowId": null,
              "stepChatFlow": null,
              "queueId": null,
              "tenantId": 7,
              "apiConfig": null,
              "chatbotRoute": null,
              "lmStatus": false,
              "geminiStatus": false,
              "deepseekStatus": false,
              "qwenStatus": false,
              "claudeStatus": false,
              "grokStatus": false,
              "ollamaStatus": false,
              "typebotStatus": false,
              "typebotSessionId": null,
              "chatgptStatus": false,
              "dialogflowStatus": false,
              "difySessionId": null,
              "difyStatus": false,
              "threadId": null,
              "runId": null,
              "outOpenHoursTries": null,
              "reasons": null,
              "value": null,
              "firstCall": true,
              "firstWarning": true,
              "lastCall": false,
              "lastCallChatbot": true,
              "chatflowTransfer": false,
              "typebotUrl": null,
              "typebotName": null,
              "typebotOff": null,
              "typebotRestart": null,
              "chatgptPrompt": null,
              "assistantId": null,
              "chatgptApiKey": null,
              "chatgptOrganizationId": null,
              "chatgptOff": null,
              "difyUrl": null,
              "difyType": null,
              "difyKey": null,
              "difyOff": null,
              "difyRestart": null,
              "imported": null,
              "n8nStatus": false,
              "n8nUrl": null,
              "shared": null,
              "userIdArray": null,
              "groupUserIdArray": null,
              "contextVariables": {},
              "createdAt": "2026-04-16T03:10:48.454Z",
              "updatedAt": "2026-04-16T05:06:20.630Z",
              "contact": {
                "id": 7899,
                "name": "Rafael Macario",
                "number": "558199258551",
                "lid": "",
                "email": "",
                "profilePicUrl": "https://pps.whatsapp.net/v/t61.24694-24/567862994_1392915595535887_3160231084692506552_n.jpg?ccb=11-4&oh=01_Q5Aa4QGn1qzQVA1UvYDk8qvixv6xnDZZA2XFKaa8H0XG98-w3Q&oe=69ED6BB7&_nc_sid=5e03e0&_nc_cat=104",
                "pushname": "Rafael Macario",
                "telegramId": null,
                "messengerId": null,
                "webchatId": null,
                "instagramPK": null,
                "hubSms": null,
                "hubTelegram": null,
                "hubWhatsapp": null,
                "hubWidget": null,
                "hubWebchat": null,
                "hubEmail": null,
                "hubMercadolivre": null,
                "hubTiktok": null,
                "hubLikedin": null,
                "hubOlx": null,
                "hubIfood": null,
                "hubTwitter": null,
                "hubYoutube": null,
                "kanban": null,
                "cpf": null,
                "birthdayDate": null,
                "firstName": null,
                "lastName": null,
                "businessName": null,
                "bsuid": null,
                "cidade": null,
                "estado": null,
                "cep": null,
                "isUser": true,
                "isLid": false,
                "isWAContact": false,
                "isGroup": false,
                "blocked": false,
                "chatbotBlocked": false,
                "groupUserIdArray": null,
                "tenantId": 7,
                "createdAt": "2026-01-21T14:23:30.494Z",
                "updatedAt": "2026-04-16T04:55:45.673Z",
                "extraInfo": [],
                "tags": [],
                "wallets": []
              },
              "user": null,
              "tenant": {
                "id": 7,
                "useUserBusinessHours": "disabled"
              },
              "whatsapp": {
                "id": 67,
                "name": "MK AutoSolution",
                "tokenAPI": "",
                "chatFlowId": null,
                "status": "CONNECTED",
                "bmToken": "",
                "wabaVersion": "20.0",
                "wabaId": "",
                "tenantId": 7,
                "sendEvaluation": "disabled",
                "type": "baileys",
                "ignoreBussinesHours": "enabled"
              }
            }
          },
          "webhookUrl": "https://webhook.agentesmkpro.cloud/webhook/agente-teste-mk",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - MK Pro Baileys": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Organiza Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Dados": {
      "main": [
        [
          {
            "node": "Buscar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Config": {
      "main": [
        [
          {
            "node": "Config Encontrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Encontrada?": {
      "main": [
        [
          {
            "node": "Mesclar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Config": {
      "main": [
        [
          {
            "node": "Intervenção Humana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervenção Humana": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Timer Parar Agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Time Retomar Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timer Parar Agente": {
      "main": [
        [
          {
            "node": "Send Message - Parar Agente!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Retomar Agente": {
      "main": [
        [
          {
            "node": "Send Message - Parar Agente!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message - Parar Agente!": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message - Parar Agente!1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Status": {
      "main": [
        [
          {
            "node": "Intervenção Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervenção Resposta": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar ao Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Adicionar ao Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar ao Histórico": {
      "main": [
        [
          {
            "node": "Set Last Msg Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Last Msg Id": {
      "main": [
        [
          {
            "node": "Busca Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico": {
      "main": [
        [
          {
            "node": "Decisão Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão Mensagem": {
      "main": [
        [
          {
            "node": "Get Last Msg Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar": {
      "main": [
        [
          {
            "node": "Busca Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Msg Id": {
      "main": [
        [
          {
            "node": "Ainda é a última mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda é a última mensagem?": {
      "main": [
        [
          {
            "node": "Busca Histórico1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Histórico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico1": {
      "main": [
        [
          {
            "node": "Unifica Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unifica Texto": {
      "main": [
        [
          {
            "node": "Extrair e Limpar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair e Limpar": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Padroniza Nome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download - Audio - Graph1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download - Img - Graph1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download - PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - Audio - Graph1": {
      "main": [
        [
          {
            "node": "Download - Audio - Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - Audio - Graph": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Padroniza Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - Img - Graph1": {
      "main": [
        [
          {
            "node": "Download - Img - Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - Img - Graph": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Padroniza Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download - PDF": {
      "main": [
        [
          {
            "node": "Extrair Conteúdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Conteúdo": {
      "main": [
        [
          {
            "node": "Padroniza Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padroniza Nome": {
      "main": [
        [
          {
            "node": "Limpeza Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza Mensagens": {
      "main": [
        [
          {
            "node": "Agente de IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirmação de Leitura - Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmação de Leitura - Check": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de IA": {
      "main": [
        [
          {
            "node": "Fixar Output do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixar Output do Agente": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limpador de /n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpador de /n1": {
      "main": [
        [
          {
            "node": "Code - Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split": {
      "main": [
        [
          {
            "node": "Remover Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Duplicados": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dedup por Parte (Redis Key)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup por Parte (Redis Key)": {
      "main": [
        [
          {
            "node": "Já enviei essa parte? (GET)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já enviei essa parte? (GET)": {
      "main": [
        [
          {
            "node": "Se NÃO enviei ainda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se NÃO enviei ainda": {
      "main": [
        [
          {
            "node": "TRUE (não enviei ainda)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRUE (não enviei ainda)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRUE (não enviei ainda)": {
      "main": [
        [
          {
            "node": "Limpador de /n2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpador de /n2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send Message - API - MK Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: consultar_disponibilidade": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: criar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: consultar_meu_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: remarcar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: cancelar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cérebro do Agente (LLM)": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória do Agente": {
      "ai_memory": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send Message - API - MK Pro": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "FE6GXpTJVm0A9nczSTxcc",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "versionId": "258821f1-3801-4f83-bb84-f2e08d1a4025",
  "meta": {
    "instanceId": "83894f2395ae619e36c00fa21bf0ecb16ae8f90efd334b04a6d40feaa2013efa"
  },
  "id": "A3Zpq0EKLAl3NdVn",
  "tags": []
}